/* Reset */
body {
    margin: unset;
}

h1 {
    margin: unset;
    font-size: unset;
    font-weight: unset;
}

/* Typography */
:root {
    font-family: 'Montserrat', sans-serif;
}

/* Component */
body {
    background-color: rgb(0, 106, 255);
}

.l_wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
}

.header h1 {
    font-size: 48px;
    font-weight: 800;
    color: white;
    text-align: center;
    padding: 70px 0;
}